server:
  port: 3000
spring:
  application:
    name: vuttr
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:h2:mem:vuttrdb
    password:
    username: sa
    driver-class-name: org.h2.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create-drop

  flyway:
    enabled: true