server:
  port: 3000
spring:
  application:
    name: vuttr
  datasource:
    url: jdbc:postgresql://localhost:5432/vuttrdb
    username: vuttr
    password: vuttr123
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
